@{
    ViewData["Title"] = "Buscador";
}

<section class="section-buscador">
    <div class="search-var">
        <form action='@Url.Action("Buscador", "Producto")' method="post">
            <img src="~/img/Iconos/search.png" alt="Icono Search" class="Iconos">
            <input type="text" class="form-control" id="search" name="busqueda">
            <input type="submit" class="botonInput" value="Buscar">
        </form>
    </div>
    @if (ViewBag.busqueda == "")
    {
        <p class="titles">Productos más buscados</p>
    }
    else
    {
        <p class="titles">Resultados de "@ViewBag.busqueda"</p>
    }
    <div class="productos">
        @foreach (Productos producto in ViewBag.ListarProductos)
        {
            <div class="producto">
                <a href="/Producto/InformacionProducto/@producto.Id">
                    <img src="@producto.ImagenProducto" alt="img-producto" class="img-producto" />
                    <p>@producto.Nombre @producto.Cantidad</p>
                </a>
            </div>
        }
    </div>
</section>