@{
    Productos producto = ViewBag.Producto;
    List<Ingredientes> ingredientes = ViewBag.Ingredientes;
    Usuarios usuarioLogeado = Objeto.StringToObject<Usuarios>(Context.Session.GetString("Usuario"));
    ViewData["Title"] = producto.Nombre + " " + producto.Cantidad;
}

<section class="main-informacion">
    <div class="parte1-info">
        <img src="@producto.ImagenProducto" alt="Imagen @producto.Nombre @producto.Cantidad" class="img-producto" />
        <div class="info-producto">
            <p class="titles">@producto.Tipo @producto.Nombre @producto.Cantidad</p>
            <p><b><u>Descripción:</u></b> @producto.Descripcion</p>
            <p><b><u>Tipo:</u></b> @producto.Tipo</p>
            <p><b><u>Marca:</u></b> @producto.Marca</p>
            <p><b><u>Cantidad:</u></b> @producto.Cantidad</p>
        </div>
        <div class="porcentaje">
            <p class="titles">@producto.Puntaje% - Aprobado</p>
            <img src="~/img/Varias/Barra porcentaje.png" alt="Barra porcentaje" class="barra" />
        </div>
    </div>
    <div class="parte2-info">
        <div class="ingredientes">
            <p class="titles">Ingredientes del producto</p>
            <ol>
                @foreach (Ingredientes ingrediente in ingredientes)
                {
                    <li><b><u>@ingrediente.Nombre:</u></b> @ingrediente.Descripcion</li>
                }
            </ol>
        </div>
        <img src="@producto.ImagenInformacion" alt="Imagen Parte Atras @producto.Nombre @producto.Cantidad"
            class="img-nutricional" />
    </div>
    @if (usuarioLogeado != null)
    {
        <div class="parte3-info" id="producto-info" data-id="@Model.Id">
            <p class="titles">En base a tu perfil</p>
            <div class="info-ia">
                <div class="contenedor-ia">
                    <div class="spinner-border text-light" role="status" id="spinner">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    <p id="texto-ia">Generando tu respuesta...</p>
                </div>
            </div>
        </div>
    }
else
    {
            <div class="info-ia-text">
                <img src="~/img/Varias/NutriCandado.png" alt="Imagen Nutri Candado">
                <div class = "overlay-text">
                    <p class = "titles">Sección bloqueada</p>
                    <p>Para poder tener una experiencia personalizada a tus restricciones alimentarias:</p>
                    <div class = "botones-info">
                        <a href='@Url.Action("Registrarse", "Usuario")' class="buttons">Registrate</a>
                        <a href='@Url.Action("IniciarSesion", "Usuario")' class="buttons">Iniciar sesión</a>
                    </div>
                </div>
            </div>
    }
</section>